<!-- Base HTML -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="meta">
    <meta name="description" content="description">
    <title>
      {% block title %}
      {% endblock title %}
      - SISInfo
    </title>
    {% include "include/_favicon.html" %}
    {% include "include/_css.html" %}
    <!-- Script to handle dark mode initialization -->
    <script>
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
  </head>
  <body class="bg-ctp-base text-ctp-text antialiased transition-colors duration-200">

    <div class="flex h-screen overflow-hidden">
        <!-- Sidebar -->
        {% include "include/_nav.html" %}

        <!-- Content Area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
            <!-- Header (Search & Profile) -->
            {% include "include/_header.html" %}

            <main class="w-full flex-grow p-6">
                {% block content %}
                {% endblock content %}
            </main>

            {% include "include/_footer.html" %}
        </div>
    </div>

    {% include "include/_js.html" %}
    {% block script %}
    {% endblock script %}
  </body>
</html>
